{% extends "layout/layout.html" %}
{% block body %}
<h1>
    ADD ITEM
</h1>
<form id="addItem" method="post">
    {{ form.csrf_token }}
    <input type="text" name="itemname" placeholder="name" required>
    <input type="text" name="itemdescription" placeholder="description" required>

    <input type="submit" value="Send">

    {% if form.errors %}
    {% for key, value in form.errors.items() %}
    <div>
        {{ key }}{{ value }}
    </div>
    {% endfor %}
    {% endif %}
</form>
{% endblock %}