{% extends "layout/layout.html" %}
{% block body %}
<div>
    <form id="add_item" method="post">
        {{ form.csrf_token }}
        <input type="text" name="itemname" placeholder="Name"
               value="{{ form.itemname.data }}" required>
        {% if form.errors and "itemname" in form.errors.keys() %}
            {{ form.errors['itemnames'] }}
        {% endif %}
        <input type="text" name="itemdescription" placeholder="Description"
               value="{{ form.itemdescription.data }}" required>
        {% if form.errors and "itemdescription" in form.errors.keys() %}
            {{ form.errors['itemdescription'] }}
        {% endif %}
        <input type="number" name="itemstock" placeholder="Stock"
               value="{{ form.itemstock.data }}" required>

        <input type="submit" value="Send">
    </form>
    <div>
        <p>
        {% if error %}
            error code {{ error.code }} : {{ error.message }}
        {% endif %}
        </p>
    </div>
</div>
{% endblock %}