{% block body %}
    <div id="itemTable"></div>
            <div></div>
                <script type="module">
                    import { TableComponent } from '/static/js/components/table-component.js';
                    import { sendAjax } from '/static/js/ajax-tools.js';
            
                    const submitItem = document.getElementById('submitItem');
                    submitItem.addEventListener('click', (event) =>
                    {
                        event.preventDefault();
            
                        const formData = new FormData(document.forms['formItem']);
            
                        sendAjax('/items/add', 'post', formData)
                            .then((res) =>
                            {
                                refreshItemTable();
                                document.forms['formItem'].reset();
                            })
                    })

                                document.getElementById('addItem{{ item.itemid }}')
                                    .addEventListener('click', (e) =>
                                    {
                                        e.preventDefault();

                                        const data = new FormData(document.forms['formItemID{{ item.itemid }}']);
                                        sendAjax("{{ url_for('add_item_to_basket') }}", 'post', data)
                                            .then((res) =>
                                            {
                                                console.log(res)
                                            });

                                        location.reload();
                                    });

                                document.getElementById('removeItem{{ item.itemid }}')
                                    .addEventListener('click', (e) =>
                                    {
                                        e.preventDefault();

                                        {#const data = new FormData(document.forms['formItemID{{ item.itemid }}']);#}
                                        sendAjax("{{ url_for('remove_item_to_basket', itemid=item.itemid) }}", 'post')
                                            .then((res) =>
                                            {
                                                console.log(res)
                                            });
                                        location.reload();
                                    });
                            </script>
                        {% else %}
                            <div class="btn-group" role="group">
                                <a class="btn btn-primary" href="{{ url_for('getItemDetails', itemid=item.itemid) }}">Details</a>
                                {% if "ADMIN" in session.get('userroles') %}
                                    <a class="btn btn-primary" href="{{ url_for('updateItem', itemid=item.itemid) }}">Edit</a>
                                {% endif %}
                                <form id="formItemID{{ item.itemid }}" method="post" action="{{ url_for('add_item_to_basket') }}">
                                    <input name="itemid" type="number" value="{{ item.itemid }}" hidden>
                                    <input name="itemquantity" type="number" value="{{ item.itemquantity }}" required>
                                    <input id="submitFormItemID{{ item.itemid }}" class="btn btn-primary" type="submit" value="Update">
                                </form>
                            </div>
                            <script type="module">
                                import { sendAjax } from '/static/js/ajax-tools.js';

                                document.getElementById('submitFormItemID{{ item.itemid }}')
                                    .addEventListener('click', (e) =>
                                    {
                                        e.preventDefault();

                                        const data = new FormData(document.forms['formItemID{{ item.itemid }}']);
                                        sendAjax("{{ url_for('add_item_to_basket') }}", 'post', data)
                                            .then((res) =>
                                            {
                                                console.log(res)
                                            });
                                    });
                            </script>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}