{% block body %}
    <div id="itemTable"></div>
            <div>
                <form id="formItem" method="post"> 
                    <input name="itemname" type="text" required>
                    <input name="itemdescription" type="text">
                    <input id="submitItem" type="submit" value="Send">
                </form>
                </div>
                <script type="module">
                    import { TableComponent } from '/static/js/components/table-component.js';
                    import { sendAjax } from '/static/js/ajax-tools.js';
            
                    const submitItem = document.getElementById('submitItem');
                    submitItem.addEventListener('click', (event) =>
                    {
                        event.preventDefault();
            
                        const formData = new FormData(document.forms['formItem']);
            
                        sendAjax('/items/add', 'post', formData)
                            .then((res) =>
                            {
                                refreshItemTable();
                                document.forms['formItem'].reset();
                            })
                    })

            
                    refreshItemTable();
            
                    function refreshItemTable()
                    {
                        sendAjax('/api/items')
                            .then((res) =>
                            {
                                const data = JSON.parse(res);
                                console.log(data);
            
                                const tableConfig = {
                                    data: data,
                                    columns: [
                                        { columnName: 'Id', value: 'itemid' },
                                        { columnName: 'Name', value: 'itemname' },
                                        { columnName: 'Description', value: 'itemdescription' }
                                    ]
                                }
            
            
                                let table = new TableComponent(tableConfig);
                                const itemTable = document.getElementById('itemTable');
                                while(itemTable.firstChild)
                                {
                                    itemTable.removeChild(itemTable.firstChild);
                                }
                                itemTable.appendChild(table.html);
                            })
                    }
                </script>             
{% endblock %}