{% extends "layout/layout.html" %}
{% block body %}
<h1>
    Login
</h1>
<form id="register" method="post">
    {{ form.csrf_token }}
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input class="form-control" id="username"
               type="text" name="username" placeholder="username">
        {% if form.errors and "username" in form.errors.keys() %}
            <small class="text-danger">{{ form.errors['itemnames'] }}</small>
        {% endif %}
    </div>
    <div class="mb-3">
        <label for="userpassword" class="form-label">Password</label>
        <input class="form-control" id="userpassword"
               type="password" name="userpassword" placeholder="password">
    </div>

    <input class="btn btn-primary" type="submit" value="Send">
</form>
{% endblock %}