{% extends "layout/layout.html" %}
{% block body %}
<h1>
    Regsiter
</h1>
<form id="register" method="post">
    {{ form.csrf_token }}
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" id="username" name="username" placeholder="username" required>
    </div>
    <div class="mb-3">
        <label for="userpassword" class="form-label">Username</label>
        <input type="password" id="userpassword" name="userpassword" placeholder="password" required>
    </div>
    <div class="mb-3">
        <label for="confirm" class="form-label">Username</label>
        <input type="password" id="confirm" name="confirm" placeholder="confirm" required>
    </div>
    <div class="mb-3">
        <label for="useremail" class="form-label">Username</label>
        <input type="text" id="useremail" name="useremail" placeholder="email" required>
    </div>
    <div class="mb-3">
        <label for="userdescription" class="form-label">Username</label>
        <input type="text" id="userdescription" name="userdescription" placeholder="description" required>
    </div>

    <input class="btn btn-primary" type="submit" value="Send">
</form>
{% endblock %}