{% extends "layout/layout.html" %}
{% block body %}

{{ basket.user.username }}
<div>
    <div id="basketList">
    </div>
{#    href="{{ url_for('checkout_basket') }}"#}
    <a id="btnCheckout" class="btn btn-primary" >Checkout</a>
</div>
<script type="module">
    import { TableComponent } from '/static/js/components/table-component.js';
    import { sendAjax } from '/static/js/ajax-tools.js';

    refreshItemTable();

    function refreshItemTable()
    {
        sendAjax('/api/basket')
            .then((res) =>
            {
                const data = JSON.parse(res);
                const tableConfig = {
                    data: data,
                    columns: [
                        { columnName: 'Id', value: 'itemid' },
                        { columnName: 'Name', value: 'itemname' },
                        { columnName: 'Description', value: 'itemdescription' },
                        {#{ columnName: 'Quantity', value: 'itemquantity' },#}
                        { columnName: 'Quantity', type: 'FORM' },
                        { columnName: 'Actions', type: 'ACTIONS' }
                    ],
                    actions: [
                        { actionName: 'Update', actionCb: (data) =>
                            {
                                sendAjax(`/basket/add`, 'post', data)
                                    .then((res) =>
                                    {

                                    });
                            },
                            buttonType: 3,
                        },
                        { actionName: 'Remove', actionCb: (data) =>
                            {
                                sendAjax(`/basket/remove/${data.itemid}`, 'post')
                                    .then((res) =>
                                    {
                                        refreshItemTable();
                                    });
                            },
                            buttonType: 2
                        }
                    ],
                    form: {
                        formName: 'itemForm',
                        formIdValue: 'itemid',
                        formFields: [
                            { fieldName: 'itemid', value: 'itemid', type: 'hidden' },
                            { fieldName: 'itemquantity', value: 'itemquantity', type: 'number' }
                        ]
                    }
                }

                const table = new TableComponent(tableConfig);
                const itemTable = document.getElementById('basketList');
                console.log(itemTable);
                while(itemTable.firstChild)
                {
                    itemTable.removeChild(itemTable.firstChild);
                }
                itemTable.appendChild(table.html);
            })
    }

    const checkoutBtn = document.getElementById('btnCheckout')

    checkoutBtn.addEventListener('click', (event) =>
    {
        sendAjax('{{ url_for('checkout_basket') }}', 'post')
            .then((data) =>
            {
                console.log(data);
                location.reload();
            });
    })
</script>
{% endblock %}