{% extends "layout/layout.html" %}
{% block body %}

{{ basket.user.username }}
<div>
    <div id="basketItemsList"></div>
{#    href="{{ url_for('checkout_basket') }}"#}
    <a id="btnCheckout" class="btn btn-primary" >Checkout</a>
</div>
<script type="module">
    import { TableComponent } from '/static/js/components/table-component.js';
    import { sendAjax } from '/static/js/ajax-tools.js';

    refreshBasketItemsTable();

    function refreshBasketItemsTable() {
        sendAjax('/api/basket')
            .then((res)  => {
                const data = JSON.parse(res);

                const tableConfig = {
                    data: data,
                    columns: [
                        { columnName: 'Id', value: 'itemid' },
                        { columnName: 'Name', value: 'itemname' },
                        { columnName: 'Description', value: 'itemdescription'}
                    ]
                }
       
                const table = new TableComponent(tableConfig);
                const itemTable = document.getElementById('basketItemsList');
                while (itemTable.firstChild) {
                    itemTable.removeChild(itemTable.firstChild);
                }
                itemTable.appendChild(table.html);
        })
    }   

    const checkoutBtn = document.getElementById('btnCheckout')

    checkoutBtn.addEventListener('click', (event) =>
    {
        sendAjax("{{ url_for('checkout_basket') }}", 'post')
            .then((data) =>
            {
                console.log(data);
                location.reload();
            });
    })
</script>
{% endblock %}